# Backend settings
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/inventory_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=inventory_db
SECRET_KEY=supersecretkeyplaceholderhere

# Frontend settings
REACT_APP_API_URL=http://localhost:8000
